<ion-view view-title="Select Organization" >
<div ng-controller="SelectOrganization as selectOrganization">
    <ion-content>

        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input template-url="js/templates/autocomplete.html"  ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete"
                       autocomplete="on" max-selected-items="1"  ng-model="model" items-clicked-method="selectOrganization.clickedMethod(callback)"  item-view-value-key="name"  items-method="selectOrganization.callbackMethod(query)" />

            </label>
        </div>

<div class="row">
    <div ng-if="selectOrganization.activeOrganizations.length">
        <div ng-repeat="organization in selectOrganization.activeOrganizations">
            <div>{{organization.name}}</div>
        </div>
        </div>
    <div ng-if="!selectOrganization.activeOrganizations.length">
        <div class="center-block center-text">
            <div class="voffset5 font-size-3"> You do not yet belong to any organizations</div>
            <img src="img/organization.png" class="voffset5" style="width:60px; height:auto;">
            <div class="font-size-1 voffset4 secondary-on-light ">Search for your company and send an invitation request,
                or give the manager the email you used to sign up.</div>
        </div>
    </div>
</div>

    </ion-content>
</div>
</ion-view>

