<ion-view view-title="Sales">

    <ion-content>
        <div class="card ">
            <div class="item item-text-wrap background-positive" style="line-height:50px;">
                <div>
                    <div style="float:right;"><i ng-click="sales.fromDatePicker()"
                                                 class="button button-small icon ion-calendar positive "
                                                 style="background-color:#FFF; margin-top:5px; font-size:13px; border-radius:50%; float:right;"></i>
                    </div>
                    <div class="disabled-on-dark" style="float:left; width:50px;">From:</div>
                    <div class="primary-on-dark col-80">{{sales.date.from | moment_dateMedium}}
                    </div>


                    <div style="float:right;"><i ng-click="sales.toDatePicker()"
                                                 class="button button-small icon ion-calendar positive "
                                                 style="background-color:#FFF; margin-top:5px; font-size:13px; border-radius:50%; float:right;"></i>
                    </div>
                    <div class="disabled-on-dark" style="float:left; width:50px;">To:</div>
                    <div class="primary-on-dark">{{sales.date.to | moment_dateMedium}}</div>

                </div>

            </div>

            <div class="row" style="margin:10px;">
                <div class="col-50" style="padding:20px;">
                    <button ng-if="sales.singleDayMode" class="button button-small icon ion-edit"
                            style="font-size:13px; border-radius:50%; float:right;"></i></button>

                    <button ng-if="!sales.singleDayMode" disabled
                            class="button button-small icon ion-edit"
                            style="font-size:13px; border-radius:50%; float:right;"></i></button>

                    <div class="font-size-4">Projection</div>
                    <h3 class="voffset3 secondary-on-light">{{sales.projection | currency}}</h3>
                </div>
                <div class="col-50" style="padding:20px; border-left:1px solid #CCC;">

                    <button ng-if="sales.singleDayMode" class="button button-small icon ion-edit"
                            style="font-size:13px; border-radius:50%; float:right;"></i></button>

                    <button ng-if="!sales.singleDayMode" disabled
                            class="button button-small icon ion-edit"
                            style="font-size:13px; border-radius:50%; float:right;"></i></button>

                    <div class="font-size-4">Actual</div>
                    <h3 class="voffset3 secondary-on-light">$2,450</h3>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>