<div class="ion-autocomplete-container {{viewModel.randomCssClass}} modal" style="display: none;">
    <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" class="ion-autocomplete-search" ng-model="viewModel.searchQuery"  ng-model-options="viewModel.ngModelOptions" placeholder="Search organizations..."/>
            </label>
        <div class="ion-autocomplete-loading-icon" ng-if="viewModel.showLoadingIcon && viewModel.loadingIcon"><ion-spinner icon="{{viewModel.loadingIcon}}"></ion-spinner></div>
        <button class="ion-autocomplete-cancel button button-clear" ng-click="viewModel.cancelClick()">Cancel</button>
        </div>
    <ion-content class="has-header">


        <ion-item ng-repeat="item in viewModel.searchItems" item-height="55px" item-width="100%" ng-click="viewModel.selectItem(item); viewModel.cancelClick()" class="item-text-wrap">
            {{viewModel.getItemValue(item, viewModel.itemViewValueKey)}}
            </ion-item>
        </ion-content>
    </div>