.background-positive{
  background-color: $positive;
}

.background-dark{
  background-color: $dark;
}

.disabled-on-dark{
  color: $disabled-on-dark;
}
.primary-on-dark{
  color:#FFF;
}

.secondary-on-light{
  color: $secondary-on-light;

}